.container {
  border-radius: var(--m);
  background-color: var(--Primary-Light);
  flex: 3;
  height: 205px;
  padding-bottom: var(--xl);
  padding-top: var(--xl);
}

.title {
  font-weight: var(--w-bold);
  padding-left: var(--xl);
}

.title_container {
  display: flex;
  gap: var(--xl);
  align-items: center;
}

.dot {
  width: var(--xs);
  height: var(--xs);
  border-radius: 50%;
  background-color: var(--brand-color);
}

.dot_secondary {
  background-color: var(--secondary-cyan);
}

.line {
  border-left: 1px solid var(--black-10);
  height: var(--m);
}

.value {
  font-weight: var(--w-bold);
}

.legend {
  display: flex;
  gap: var(--xs);
  align-items: center;
}
