.container {
  border-radius: var(--m);
  background-color: var(--Primary-Light);
  flex: 3;
  padding-bottom: var(--xl);
  padding-top: var(--xl);
}

.title {
  font-weight: var(--w-bold);
}

.title_container {
  display: flex;
  gap: var(--xl);
  align-items: center;
  flex-wrap: wrap;
  padding-left: var(--xl);
}

.dot {
  width: var(--xs);
  height: var(--xs);
  border-radius: 50%;
  background-color: var(--brand-color);
}

.dot_secondary {
  background-color: var(--secondary-cyan);
}

.line {
  border-left: 1px solid var(--black-10);
  height: var(--m);
}

.value {
  font-weight: var(--w-bold);
}

.legend {
  display: flex;
  gap: var(--xs);
  align-items: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .title_container {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: var(--xl);
  }

  .line {
    display: none;
  }
}
