.container {
  display: flex;
  align-items: center;
  gap: var(--xxs);
}

.icon {
  color: var(--black-20);
}

.items{
  display: flex;
  flex-direction: column;
}

.item {
  cursor: pointer;
  padding: var(--xs) var(--l);
}

.item:hover {
  background-color: var(--hover-color);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  border-radius: var(--xs);
}
