.header {
  display: flex;
  padding: var(--xxl) var(--l);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black-10);
}
.group {
  display: flex;
  align-items: center;
  gap: var(--xs);
}
.title {
  color: var(--black-40);
}
.text {
  padding: var(--xxs) var(--xxs);
}
.slash {
  padding-left: var(--xxs);
  padding-right: var(--xxs);
}

.icon {
  color: var(--text-primary-color);
  transition: all 0.4s ease-in-out;
  width: var(--xxl);
  height: var(--xxl);
}

.icon_S {
  color: var(--text-primary-color);
  transition: all 0.4s ease-in-out;
  width: var(--xxl);
  height: var(--xxl);
}

.rotateRight {
  transform: rotate(360deg);
}

.rotateLeft {
  transform: rotate(-360deg);
}


/* Responsive Styles */
@media (max-width: 1024px) {
  .title, .slash, .text, .icon, .iconBtn {
    display: none;
  }
}

@media (min-width: 1024px) {
  
  
  .group {
    gap: var(--xs);
  }
}
