.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--xs);
  position: relative;
  margin: var(--xxs);
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 190px;
}
