:root {
  /* colors */
  --primary-color: #e3f5ff;
  --secondary-color: #e5ecf6;
  --Primary-Light: #f7f9fb;
  --secondary-cyan: #a8c5da;
  --text-primary-color: #1c1c1c;
  --background-color: #ffffff;
  --hover-color: #1c1c1c1a;
  --brand-color: #1c1c1c;
  --black-40: #1c1c1c66;
  --black-20: #1c1c1c33;
  --black-10: #1c1c1c1a;
  --black-5: #1c1c1c0d;
  --white-40: #ffffff66;
  --text: #1c1c1c;
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;

  /* sizes */
  --font: 14px;
  --s-font: 12px;
  --s: 12px;
  --xs: 8px;
  --xxs: 4px;
  --m: 16px;
  --l: 28px;
  --xl: 24px;
  --xxl: 20px;

  /* font weight */
  --w-normal: 400;
  --w-bold: 600;
}

[data-theme="dark"] {
  --Primary-Light: #ffffff0d;
  --text-primary-color: #ffffff;
  --background-color: #1c1c1c;
  --hover-color: #ffffff1a;
  --brand-color: #c6c7f8;
  --black-40: #ffffff66;
  --black-20: #ffffff33;
  --black-10: #ffffff1a;
  --black-5: #ffffff1a;
  --white-40: #1c1c1c66;
  --scrollbar-track: #2a2a2a;
  --scrollbar-thumb: #4b4b4b;
  --scrollbar-thumb-hover: #6a6a6a;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary-color);
  font-size: var(--font);
  font-family: "Inter";
  font-weight: var(--w-normal);
  line-height: var(--xxl);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.App {
  display: flex;
  width: 100%;
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: var(--xs);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--xxs);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
