.container {
  border-left: 1px solid var(--black-10);
  padding: var(--xxl);
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--xl);
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--xxl);
}

.closeButtonIcon {
  width: var(--xl);
  height: var(--xl);
  color: var(--text-primary-color);
}
